@page "/anglers"
@using LetsFish.Application.Domain.Entities
@inject HttpClient Http
@inject ISnackbar Snackbar

<style>
    .mud-table-container {
        overflow: auto;
    }
</style>

<LetsFish.Wasm.Components.LetsFishTitle Title="Anglers" Description="Manage Anglers"></LetsFish.Wasm.Components.LetsFishTitle>

@if (anglers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="row">
            <MudDataGrid Items="@angulersFilteredQuery" T="Angler" Dense Striped ReadOnly="false" CommittedItemChanges="@CommittedItemChanges">
                <ToolBarContent>
                    <MudFocusTrap Disabled="false" DefaultFocus="DefaultFocus.FirstChild">
                        <MudTextField @bind-Value="_searchString" OnKeyUp="@SearchTextChanged" Immediate="true"
                                      Placeholder="Search for Captains" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 mb-3"></MudTextField>
                    </MudFocusTrap>
                    <MudSpacer />

                    <MudButton DisableElevation Variant="Variant.Filled" Color="Color.Primary" OnClick="(() => AddNew())" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface">Add</MudButton>

                </ToolBarContent>
                <Columns>
                    <PropertyColumn Property="x => x.FirstName" Title="First Name" />
                    <PropertyColumn Property="x => x.LastName" Title="Last Name" />
                    <PropertyColumn Property="x => x.Email" />
                    <PropertyColumn Property="x => x.Phone" />
                    <PropertyColumn Property="x => x.GraduationYear" Title="Grad Year" />
                    <PropertyColumn Property="x => x.Inactive">
                        <EditTemplate>
                            <MudCheckBox @bind-Value="context.Item.Inactive" Label="Inactive" />
                        </EditTemplate>
                    </PropertyColumn>

                    <TemplateColumn CellClass="d-flex justify-end">
                        <CellTemplate>
                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
            </MudDataGrid>
        </div>
    </div>
}
@code {

}

@code {
    private string _searchString = "";

    private Angler[]? anglers;
    private IQueryable<Angler>? angulersQuery;
    private IQueryable<Angler>? angulersFilteredQuery;
    private Angler _angler = new Angler();

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<Result<List<Angler>>>("api/v1/Anglers");

        if (response == null || response.Data is null)
        {
            Snackbar.Add($"Error Loading Anglers", Severity.Error);
            return;
        }

        anglers = response.Data.ToArray();
        angulersQuery = response.Data.AsQueryable();
        angulersFilteredQuery = angulersQuery;
    }

    private void SearchTextChanged(KeyboardEventArgs e)
    {
        GetAngulers();
    }

    private void GetAngulers()
    {
        if (angulersQuery != null)
        {
            angulersFilteredQuery = angulersQuery.Where(x => x.FirstName.ToLower().Contains(_searchString.ToLower()) ||
                                                        x.LastName.ToLower().Contains(_searchString.ToLower()) ||
                                                        x.Email.ToLower().Contains(_searchString.ToLower()) ||
                                                        x.Phone.Contains(_searchString));
            StateHasChanged();
        }

    }

    async Task CommittedItemChanges(Angler item)
    {
        var response = await Http.PostAsJsonAsync("api/v1/Anglers", item);
        Snackbar.Add($"Angler saved", Severity.Normal);
    }

    void AddNew()
    {
        if (angulersQuery != null)
        {
            angulersQuery = angulersQuery.Append(new Angler());
            angulersFilteredQuery = angulersQuery.Where(x => x.AnglerId == 0);
            StateHasChanged();
        }
    }   
}