@page "/teams"
@using LetsFish.Application.Domain.Entities
@inject HttpClient Http
@inject ISnackbar Snackbar


<style>
    .mud-table-container {
        overflow: auto;
    }
</style>

<LetsFish.Wasm.Components.LetsFishTitle Title="Teams" Description="Manage Teams"></LetsFish.Wasm.Components.LetsFishTitle>

@if (teams == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="row">
            <MudDataGrid Items="@teamsFilteredQuery" T="Team" Dense Striped ReadOnly="false" CommittedItemChanges="@CommittedItemChanges">
                <ToolBarContent>
                    <MudButton DisableElevation Variant="Variant.Filled" Color="Color.Primary" OnClick="(() => AddNew())" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface">Add</MudButton>
                    <MudSpacer />
                    <MudFocusTrap Disabled="false" DefaultFocus="DefaultFocus.FirstChild">
                        <MudTextField @bind-Value="_searchString" OnKeyUp="@SearchTextChanged" Immediate="true"
                                      Placeholder="Search for Captains" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 mb-3"></MudTextField>
                    </MudFocusTrap>
                </ToolBarContent>
                <Columns>
                    <PropertyColumn Property="x => x.TeamId " />
                    <PropertyColumn Property="x => x.TeamName" />
                    <PropertyColumn Property="x => x.Inactive">
                        <EditTemplate>
                            <MudCheckBox @bind-Value="context.Item.Inactive" Label="Inactive" />
                        </EditTemplate>
                    </PropertyColumn>

                    <TemplateColumn CellClass="d-flex justify-end">
                        <CellTemplate>
                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
            </MudDataGrid>
        </div>
    </div>
}
@code {

}

@code {
    private string _searchString = "";

    private Team[]? teams;
    private IQueryable<Team>? teamsQuery;
    private IQueryable<Team>? teamsFilteredQuery;
    private Team _team = new Team();

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<Result<List<Team>>>("api/v1/Teams");

        if (response == null || response.Data is null)
        {
            Snackbar.Add($"Error Loading Teams", Severity.Error);
            return;
        }

        teams = response.Data.ToArray();
        teamsQuery = response.Data.AsQueryable();
        teamsFilteredQuery = teamsQuery;
    }

    private void SearchTextChanged(KeyboardEventArgs e)
    {
        GetCaptainsAsync();
    }

    private void GetCaptainsAsync()
    {
        if (teamsQuery != null)
        {
            teamsFilteredQuery = teamsQuery.Where(x => x.TeamName.ToLower().Contains(_searchString.ToLower()));
            StateHasChanged();
        }

    }

    async Task CommittedItemChanges(Team item)
    {
        var response = await Http.PostAsJsonAsync("api/v1/Teams", item);
        Snackbar.Add($"Team saved", Severity.Normal);
    }

    void AddNew()
    {
        if (teamsQuery!= null)
        {
            teamsQuery = teamsQuery.Append(new Team());
            teamsFilteredQuery = teamsQuery.Where(x => x.TeamId == 0);
            StateHasChanged();
        }
    }
}